.add-task-error{
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

.add-task{
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-task__input{
    flex-grow: 1;
    background: $dark-blue;
    color: white;
    border: none;
    border-bottom: 0.3rem solid darken($color: $dark-blue, $amount: 10%);
    margin: 0 0 $m-size 0;
    padding: $s-size;
}

// for desktop if for mobile we use max-width
@media(min-width:45rem){
.add-task{
    flex-direction: row;
}
.add-task__input{
    margin: 0 $s-size 0 0;
}
}