.big-button{
    background: $purple;
    border: none;
    border-bottom: 0.6rem solid darken($color: $purple, $amount: 10%);
    color: white;
    font-size: $l-size;
    font-weight: bold;
    width: 100%;
    margin-bottom: $m-size;
    padding: 2.4rem;
}
.big-button:disabled{
    opacity: .5;
}

.small-button{
    background: $purple;
    border: none;
    border-bottom: 0.3 solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.small-button--link{
    background: none;
    border: none;
    color: $off-white;
    padding: 0px;
}
// for desktop if for mobile we use max-width
@media(min-width:45rem){
    .big-button{
        margin-bottom: $xl-size;
    }
}